Source: itchcraft
Section: python
Priority: optional
Maintainer: Claudia Pellegrino <clau@tiqua.de>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               flit,
               pandoc,
               python3-all,
               python3-astroid,
               python3-colorama <!nocheck>,
               python3-pytest <!nocheck>,
               python3-pytest-mock <!nocheck>,
               python3-sphinx,
               python3-sphinx-autoapi,
               python3-sphinx-rtd-theme,
               python3-tenacity <!nocheck>,
               python3-usb <!nocheck>
Standards-Version: 4.5.1
Homepage: https://github.com/claui/itchcraft
Vcs-Browser: https://github.com/claui/itchcraft
Vcs-Git: https://github.com/claui/itchcraft.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: itchcraft
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Tech demo for interfacing with heat-based USB insect bite healers
 Itchcraft is a technology demonstration for Linux-based smartphones
 to interface with commercial USB bite-healers that work by locally
 heating up human skin.
 Includes a command-line tool and Python API.
