Source: itchcraft
Section: python
Priority: optional
Maintainer: Claudia Pellegrino <clau@tiqua.de>
Build-Depends: debhelper-compat (= 13), dh-python, pybuild-plugin-pyproject, python3-all, python3-myst-parser, python3-poetry-core, python3-sphinx
Standards-Version: 4.5.1
Homepage: https://github.com/claui/itchcraft
Vcs-Browser: https://github.com/claui/itchcraft
Vcs-Git: https://github.com/claui/itchcraft.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: itchcraft
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-colorama, python3-fire, python3-tenacity, python3-usb
Description: Tech demo for interfacing with heat-based USB insect bite healers
 This package installs the utility and documentation for Python 3.
