Source: itchcraft
Section: python
Priority: optional
Maintainer: Claudia Pellegrino <clau@tiqua.de>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-colorama <!nocheck>,
               python3-myst-parser,
               python3-poetry-core,
               python3-pytest <!nocheck>,
               python3-pytest-mock <!nocheck>,
               python3-sphinx,
               python3-sphinx-autoapi,
               python3-sphinx-rtd-theme,
               python3-tenacity <!nocheck>,
               python3-usb <!nocheck>
Standards-Version: 4.5.1
Homepage: https://github.com/claui/itchcraft
Vcs-Browser: https://github.com/claui/itchcraft
Vcs-Git: https://github.com/claui/itchcraft.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: itchcraft
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Tech demo for interfacing with heat-based USB insect bite healers
 This package installs the utility and documentation for Python 3.
